.thaps-search-box{
max-width:550px;
}
.thaps-search-box {
    position: relative;
    line-height: 100%;
    display: block;
    min-width: 230px;
    width: 100%;
    text-align: left;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.thaps-search-form{
    margin: 0;
    padding: 0;
    width: 100%;
}

.thaps-from-wrap{
display:flex;
background:#fff;
border-radius:4px;
}
#thaps-search-autocomplete:focus{
        outline: 0;
}
#thaps-search-button {
background: #111;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:4px;
    padding: 0;
    border: 0;
   margin:0.3rem;
}
#thaps-search-button:hover{
background:#888;
}
#thaps-search-autocomplete{
min-height:35px;
line-height:35px;
border:none;
font-size: 14px;
width: 100%;
padding: 0.3rem 0.5rem;
margin: 0;
border-radius: 4px;
}

.thaps-autocomplete-suggestions {border: 1px solid #eee; background: #FFF; overflow: auto; }
.thaps-autocomplete-suggestion { padding: 0.5rem; white-space: nowrap; overflow: hidden; }
.thaps-autocomplete-selected { background: #f0f0f166; }
.thaps-autocomplete-suggestions strong { font-weight: normal; color: #3399FF; }
.thaps-autocomplete-group { padding: 0.5rem; }
.thaps-autocomplete-group strong { display: block; border-bottom: 1px solid #000; 
}
.thaps-autocomplete-suggestion { 
    cursor: pointer;
}

.thaps-autocomplete-suggestion{
display:flex;
}

.thaps-autocomplete-suggestion .thaps-img{
width:45px;
 margin-right: 1rem;
}

.thaps-autocomplete-suggestion .thaps-title{
font-size:1rem;
}

.thaps-autocomplete-suggestion .thaps-img img{
border-radius:3px;
}

.thaps-autocomplete-suggestion .thaps-price{
font-size:0.89rem;
font-weight:500;
}

.thaps-content-wrapp{
line-height:normal;
}
.thaps-price del{
color:#949494;
margin-right:0.3rem;
}
.thaps-price ins{
text-decoration:none;
}
.nonce_result_show{
opacity:0.5;
pointer-events: none;
}

.thaps-preloader{
height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 45px;
    z-index: 1;
    background:none;

}
.thaps-loading {
    height: 0;
    width: 0;
    padding: 10px;
    border: 3px solid #cccccc6e;
    border-right-color: #8888887a;
    border-radius: 50%;
    -webkit-animation: rotate 1s infinite linear;
    position: absolute;
    top: 9px;
    margin-right: 10px;
}

@-webkit-keyframes rotate {
  /* 100% keyframe for  clockwise. 
     use 0% instead for anticlockwise */
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes thaps-loading {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.submit-no-active .thaps-from-wrap svg{
position:absolute;
left:0.5rem
}
.submit-no-active #thaps-search-autocomplete{
padding: 0.3rem 0.3rem 0.3rem 2.8rem;
}
.submit-no-active .thaps-from-wrap{
    align-items: center;
}
