.wp-block.th-advance-product-search-wrapper {
    --tapsp-width:550px;
    --tapsp-bar-bg-clr: var(--tapsp-bar-bg-clr);
    --tapsp-bar-text-clr: var(--tapsp-bar-text-clr);
    --tapsp-button-bg-clr: #111;
    --tapsp-button-txt-clr: #fff;
    --tapsp-button-hvr-bg-clr: #111;
    --tapsp-button-hvr-txt-clr: #fff;
    --tapsp-search-border-clr:var(--tapsp-search-border-clr);
    --tapsp-bar-radius: 4px;
  }
  
  .wp-block.th-advance-product-search-wrapper {
    .thaps-search-box{
        max-width:var(--tapsp-width);
        width:var(--tapsp-width);
    }
    .thaps-from-wrap {
        background: var(--tapsp-bar-bg-clr);
        border-color:var(--tapsp-search-border-clr);
        border-radius:var(--tapsp-bar-radius);
    }
    .thaps-search-autocomplete{
        background-color: transparent;
    } 
    .thaps-search-autocomplete, 
    .thaps-search-autocomplete::placeholder{
        color:var(--tapsp-bar-text-clr);
    }
    .thaps-search-autocomplete:focus{
    box-shadow:none;
    outline: none;
    }
    #thaps-search-button{
        width: auto;
        background:var(--tapsp-button-bg-clr);  
        color:var(--tapsp-button-txt-clr); 
        padding:0.3rem 0.5rem; 
        border-radius:var(--tapsp-bar-radius);
    }
    #thaps-search-button:hover{
        background:var(--tapsp-button-hvr-bg-clr);  
        color:var(--tapsp-button-hvr-txt-clr);  
    }
    .thaps-search-box .icon-style,
    .thaps-search-box .click-icon,
    .submit-active #thaps-search-button .th-icon,
     .bar_style .th-icon, .icon_style .th-icon{
        color:var(--tapsp-icon-clr);  
    }
    .thaps-box-open .tapsp-icon-arrow {
        
        background: var(--tapsp-bar-bg-clr);
    }

  }  